/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env-local
.env-web
.env-web-do
.env_
bkp_db/c6_tecno_2022_04_30_migracion_nuevo_hosting.sql
bkp_db/c6_tecno_2019_20_10.sql
